@import '../../_variables'
    
.logo-container
    position: absolute
    bottom: 2em
    right: 2em
    display: inline-block
    width: 80px
    height: 80px

@media screen and (max-width: 767px)
    .logo-container
        display: none